<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= htmlWebpackPlugin.options.faviconLink %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>
</head>
<%= htmlWebpackPlugin.options.insertion %>

<body>
    <div id="container"></div>
</body>

</html>